<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout}">

<head>
    <meta charset="UTF-8" th:remove="tag">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>予約システム</title>
</head>

<body>
    <main layout:fragment="content">
        <div class="container">
            <p id="flush" class="d-flex align-items-center justify-content-center fs-5 my-5 mx-auto">
                ようこそ&nbsp;<span th:text="${username}" class="mx-3"></span>&nbsp;さん</p>

            <h3 class="text-center mb-5 fs-3">お申し込み中の内容</h3>

            <div th:if="${reserve == null}" class="text-center mx-auto">
                <h3 class="fs-3">現在お申し込み中の内容はありません</h3>
                <a th:href="@{/reserve}" class="btn btn-primary my-5 h-100">予約を申し込む</a>
            </div>

            <div th:if="${reserve != null}" class="w-50 border mx-auto" id="details" th:object="${reserve}">
                <div class="p-5">

                    <div class="wrapper w-75 mx-auto">
                        <p>日時</p>
                        <div class="d-flex justify-content-start">
                            <p th:text="*{reserveDate}"></p>&nbsp;&nbsp;
                            <p th:text="*{reserveTime}"></p>
                        </div>
                    </div>

                    <div class="wrapper w-75 mx-auto mt-5">
                        <p>お名前</p>
                        <p><span th:text="${username}"></span>&nbsp;様</p>
                    </div>

                    <p></p>
                    <div class="mt-5 w-75 mx-auto">
                        <p>備考欄</p>
                        <p th:text="*{remarks}" id="remarks" class="border mx-auto w-100 p-3"></p>
                    </div>

                </div>
            </div>
            <div th:if="${reserve != null}" class="mx-auto text-center">
                <a th:href="@{/reserve/edit}" class="text-center"><button
                        class="btn btn-primary my-5">予約内容を変更する</button></a>
            </div>
        </div>
    </main>
</body>

</html>